<app-navbar></app-navbar>
<div class="container">
    <div class="row align-items-center">
        <div class="col-md-12">

            <div class="navigation-icons">
                <i class="fa fa-chevron-left fa-3x arrow-left" aria-hidden="true"></i>
                <i class="fa fa-chevron-right fa-3x arrow-right" aria-hidden="true"></i>
            </div>
            
            <div class="rex-main">
            
                <div class="form">
                    <form>
                        <input type="text" id="form-rex-command" placeholder="Execute an Order">
                    </form>
                </div>

                <div class="card rex-todo-body">
                    <h4 class="card-title">Todo</h4>
                    <div class="card-body">
                        <ul class="todo-list">
                            <li class="todo-item">Dem1</li>
                            <li class="todo-item">Dem2</li>
                            <li class="todo-item">Dem3</li>
                            <li class="todo-item">Dem4</li>
                        </ul>
                    </div>
                </div>
            
            </div>
        </div>        
    </div>
  </div>
  
