<ul class="row">
    <li class="song-info col-3" id="title">Sunflower</li>
    <li class="song-info col-2" id="artist">Post Malone</li>
    <li class="song-info col-4" id="album">Spiderman Into The Spiderverse</li>
    <li class="song-info col-2" id="genre">Pop</li>
    <li class="song-info col-1" id="duration">3:20</li>
</ul>
<ul class="row">
    <li class="song-info col-3" id="title">Who Do You Love</li>
    <li class="song-info col-2" id="artist">Chainsmokers</li>
    <li class="song-info col-4" id="album">Something really Long just to Check the spacing</li>
    <li class="song-info col-2" id="genre">Pop</li>
    <li class="song-info col-1" id="duration">3:20</li>
</ul>
