<div class="row">
    <div class="col-3 text-center">
        d
    </div>
    
    <div class="col-6 text-center">
        <div class="now-playing-buttons">
                
        </div>
        <div class="progress-bar">
                
        </div>
        <div class="controls">
            <img src="./../../../assets/images/lightsaber_prev.png" alt="">
            <img class="play" src="./../../../assets/images/iconfinder_Jedi_Order_sigil_logo_star_wars_3151584.png" alt="">
            <img src="./../../../assets/images/lightsaber_next.png" alt="">
        </div>
    </div>
    
    <div class="col-3 text-center">
        m
    </div>
</div>
